CLIVE_BUNDLE_ID = com.yourcompany.clive
PRODUCT_BUNDLE_IDENTIFIER = $(CLIVE_BUNDLE_ID)
PRODUCT_NAME = Clive - CLI for iOS
CLIVE_ICLOUD_CONTAINER = iCloud.$(CLIVE_BUNDLE_ID)
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
APS_ENVIRONMENT = development
CODE_SIGN_STYLE = Automatic
#include? "Local.xcconfig"
